<div class="limiter">
  <div class="container-login100">
      <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54" style="opacity: .9;">
          <form class="login100-form validate-form" [formGroup]="form" (submit)="submit()">
              <span class="login100-form-title">
                  Inscription
              </span>

              <div class="dropzone" dropzone (hovered)="toggleHover($event)" (dropped)="onDrop($event)" [class.hovering]="isHovering">

                  <div class="pdp w3-container" (click)="changePDP()">
                    <img id="profileImage" [src]="pdpURL" alt="Photo de profil" class="pdp__image">
                    <mat-progress-bar mode="determinate" value="{{percentage}}"></mat-progress-bar>
                    <input id="imageUpload" type="file" placeholder="Photo" style="display: none;" accept="image/*" (change)=selectPDP($event)>
                  </div>

              </div>



              <div class="wrap-input100 validate-input">
                  <span class="label-input100">Nom</span>
                  <input class="input100" type="text" name="nom" formControlName="nom" placeholder="Entrez votre nom" required>
                  <span class="focus-input100" data-symbol="&#xf206;"></span>
              </div>
              <span style="color: red;" *ngIf="isSubmitted && errorControl['nom'].errors && errorControl['nom'].errors!['required']">
                *Veuillez remplir ce champ.
              </span>

              <div class="wrap-input100 validate-input mt-4">
                  <span class="label-input100">Prénom</span>
                  <input class="input100" type="text" name="prenom" formControlName="prenom" placeholder="Entrez votre prénom" required>
                  <span class="focus-input100" data-symbol="&#xf206;"></span>
              </div>
              <span style="color: red;" *ngIf="isSubmitted && errorControl['prenom'].errors && errorControl['prenom'].errors!['required']">
                *Veuillez remplir ce champ.
              </span>

              <div class="wrap-input100 validate-input mt-4">
                  <span class="label-input100">Adresse mail</span>
                  <input class="input100" type="email" name="mail" formControlName="mail" placeholder="Entrez votre adresse mail" required>
                  <span class="focus-input100" data-symbol="&#xf15a;"></span>
              </div>
              <span style="color: red;" *ngIf="isSubmitted && errorControl['mail'].errors && errorControl['mail'].errors!['required']">
                *Veuillez remplir ce champ.
              </span>
              <span style="color: red;" *ngIf="isSubmitted && errorControl['mail'].errors && errorControl['mail'].errors!['pattern']">
                *Veuillez entrer une adresse mail valide.
              </span>

              <div class="wrap-input100 validate-input mt-4">
                  <span class="label-input100">Mot de passe</span>
                  <input class="input100" type="password" name="mdp1" formControlName="mdp1" placeholder="Entrez votre mot de passe" required>
                  <span class="focus-input100" data-symbol="&#xf190;"></span>
              </div>
              <span style="color: red; display: block;" *ngIf="isSubmitted && errorControl['mdp1'].errors && errorControl['mdp1'].errors!['required']">
                *Veuillez remplir ce champ.
              </span>
              <span style="color: red;" *ngIf="isSubmitted && errorControl['mdp1'].errors && errorControl['mdp1'].errors!['minlength']">
                *Votre mot de passe est trop court.
              </span>

              <div class="wrap-input100 validate-input mt-4">
                  <span class="label-input100">Confirmez votre mot de passe</span>
                  <input class="input100" type="password" name="mdp2" formControlName="mdp2" placeholder="Confirmez votre mot de passe" required>
                  <span class="focus-input100" data-symbol="&#xf190;"></span>
              </div>
              <span style="color: red; display: block;" *ngIf="isSubmitted && errorControl['mdp2'].errors && errorControl['mdp2'].errors!['required']">
                *Veuillez remplir ce champ.
              </span>
              <span style="color: red;" *ngIf="isSubmitted && !passwordMatchValidator()">
                *Les mots de passe ne sont pas identiques.
              </span>

              <div class="text-right p-t-8 p-b-31">
              </div>

              <div class="container-login100-form-btn p-t-8 p-b-31">
                  <div class="wrap-login100-form-btn">
                      <div class="login100-form-bgbtn"></div>
                      <button id="boutton" class="login100-form-btn">
                          S'inscrire
                      </button>
                  </div>
              </div>

              <div id="success">Vous allez recevoir un email de vérification pour confirmer votre inscription.</div>
              <div id="error">Une erreur s'est produite! Veuillez réessayer!</div>

              <div class="flex-col-c p-t-50">
                  <a routerLink="/" class="txt2" style="text-decoration: none;">
                      Se connecter
                  </a>
              </div>
          </form>
      </div>
  </div>
</div>
