<mat-toolbar color="primary" style="display: flex;">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  
  <span class="example-spacer">
    Responsable atelier
  </span>

  <button id="logoutPhone" mat-icon-button (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
  <button id="logoutPc" mat-button (click)="logout()" style="font-size: large;">
    Se déconnecter
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>


<mat-drawer-container class="example-container" autosize style="z-index: 0;">
  <mat-drawer #drawer mode="side" [opened]="isBigScreen">
      <button id="listevoituresareceptionner" mat-button class="hover" [routerLink]="['reception']" style="margin-top: 5px; font-size: large; width: 100%; height: 3em;">
        Liste des voitures à réceptionner
        <mat-icon>list</mat-icon>
      </button>
    <br>
      <button id="listevoituresgarage" mat-button class="hover" [routerLink]="['voitures']" style="margin-top: 5px; font-size: large; width: 100%; height: 3em;">
        Liste des voitures dans le garage
        <mat-icon>list</mat-icon>
      </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <div style="padding-left: 5%; padding-right: 5%; padding-top: 20px; padding-bottom: 100px; background-color: rgb(216, 228, 228); min-height: 75vh;">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-drawer-container>
<footer></footer>
