<div style="background-color: rgb(255, 255, 255);">
  <h1 mat-dialog-title style="font-weight: bold; font-size: large;">Ici, vous pouvez lister les réparations sur cette voiture</h1>
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="form1" (submit)="ajoutReparation()">
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field>
          <textarea rows="1" matInput placeholder="Réparation" [(ngModel)]="reparation" formControlName="reparation"></textarea>
          <mat-error *ngIf="form1Submitted && errorControlReparation['reparation'].errors && errorControlReparation['reparation'].errors!['required']">Veuillez remplir ce champ</mat-error>
        </mat-form-field>
        <mat-form-field style="margin-left: 10px;">
          <input matInput type="number" placeholder="Prix" [(ngModel)]="prixReparation" formControlName="prixReparation">
          <mat-error *ngIf="form1Submitted && errorControlReparation['prixReparation'].errors && errorControlReparation['prixReparation'].errors!['required']">Veuillez remplir ce champ</mat-error>
        </mat-form-field>
        <button mat-raised-button type="submit" style="margin-left: 10px; height: 55px; margin-top: 4px;">Ajouter</button>
      </div>
    </form>

    <form id="form2" style="display: none" [formGroup]="form2" (submit)="ajoutAchatPiece()">
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field>
          <input matInput placeholder="Pièces" [(ngModel)]="piece" formControlName="piece">
          <mat-error *ngIf="form2Submitted && errorControlAchatPiece['piece'].errors && errorControlAchatPiece['piece'].errors!['required']">Veuillez remplir ce champ</mat-error>
        </mat-form-field>
        <mat-form-field style="margin-left: 10px;">
          <input matInput type="number" placeholder="Quantité" [(ngModel)]="quantite" formControlName="quantite">
          <mat-error *ngIf="form2Submitted && errorControlAchatPiece['quantite'].errors && errorControlAchatPiece['quantite'].errors!['required']">Veuillez remplir ce champ</mat-error>
        </mat-form-field>
        <mat-form-field style="margin-left: 10px;">
          <input matInput type="number" placeholder="Prix unitaire" [(ngModel)]="prixPiece" formControlName="prixPiece">
          <mat-error *ngIf="form2Submitted && errorControlAchatPiece['prixPiece'].errors && errorControlAchatPiece['prixPiece'].errors!['required']">Veuillez remplir ce champ</mat-error>
        </mat-form-field>
        <button mat-raised-button type="submit" style="margin-left: 10px; height: 55px; margin-top: 4px;">Ajouter</button>
      </div>
    </form>

    <mat-list role="list" *ngIf="liste_reparation.length > 0" >
      <mat-list-item role="listitem" *ngFor="let lr of liste_reparation; let i = index" style="margin-top: 20px; height: auto;">
        <hr>
        <button mat-mini-fab color="warn" (click)="supprimerReparation(i)" style="float: right;"><mat-icon>close</mat-icon></button>
        <p><b>Réparation : </b>{{lr.description}}</p>
        <p><b>Frais de la main d'oeuvre : </b>{{lr.frais}}</p>
        <p><button mat-button (click)="clickBouttonAjoutAchatPiece(i)" style="background-color: lightgray; border-radius: 20px; height: 2em; border: 0;">Ajout de pièce à acheter</button></p>
        <table *ngIf="lr.achat_piece.length > 0" class="mat-elevation-z8" style="width: 100%; margin-top: 5px; border-color: rgba(211, 211, 211, 0.485);" border="1" cellspacing="0" cellpadding="5">
          <tr>
            <th>Pièce</th>
            <th style="text-align: right;">Quantité</th>
            <th style="text-align: right;">Prix unitaire</th>
            <th></th>
          </tr>
          <tr *ngFor="let ap of lr.achat_piece; let j = index" >
            <td>{{ap.nom}}</td>
            <td style="text-align: right;">{{ap.quantite | separateurMiller}}</td>
            <td style="text-align: right;">{{ap.pu | separateurMiller}} Ariary</td>
            <td style="text-align: center;">
              <button mat-button class="hover" (click)="supprimerAchatPiece(i, j)" style="background: linear-gradient(to left, rgb(255, 0, 0), rgb(163, 0, 0)); border-radius: 20px; color: white; height: 2em;">
                Supprimer
              </button>
            </td>
          </tr>
        </table>
      </mat-list-item>
    </mat-list>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Annuler</button>
    <button mat-raised-button color="primary" (click)="submit()">Valider</button>
  </mat-dialog-actions>
</div>
