<div style="background-color: rgb(216, 228, 228);">
  <h1 mat-dialog-title style="font-weight: bold; font-size: large;">Formulaire de dépôt de voiture</h1>
  <form [formGroup]="form" (submit)="submit()">
    <mat-dialog-content class="mat-typography">
      <mat-form-field class="example-form-field" appearance="fill" style="margin-left: 10px;">
        <mat-label style="color: black;">Numéro</mat-label>
        <input matInput type="text" [(ngModel)]="numero" formControlName="numero">
        <mat-error *ngIf="isSubmitted && errorControl['numero'].errors && errorControl['numero'].errors!['required']">Veuillez remplir ce champ</mat-error>
        <button *ngIf="numero" matSuffix mat-icon-button aria-label="Clear" (click)="numero=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="example-form-field" appearance="fill" style="margin-left: 10px;">
        <mat-label style="color: black;">Marque</mat-label>
        <input type="text" aria-label="Number" matInput [(ngModel)]="marque" formControlName="marque"[formControl]="formControl" [matAutocomplete]="auto">
        <mat-error *ngIf="isSubmitted && errorControl['marque'].errors && errorControl['marque'].errors!['required']">Veuillez remplir ce champ</mat-error>
        <button *ngIf="marque" matSuffix mat-icon-button aria-label="Clear" (click)="marque=null">
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let marque of filteredOptions | async" [value]="marque">
            {{marque}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-raised-button mat-dialog-close>Annuler</button>
      <button *ngIf="!loading" mat-raised-button color="primary">Déposer</button>
      <button *ngIf="loading" mat-raised-button disabled>
        <span class="spinner-loader" style="font-size: 5px;"></span>
      </button>
    </mat-dialog-actions>
  </form>
</div>
