<app-loading-error *ngIf="error"></app-loading-error>
<app-loading *ngIf="isLoading"></app-loading>
<div *ngIf="!isLoading && !error" style="overflow-x: auto;">
  <h1>Statistiques</h1>

    <div style="border-radius: 25px; background-color: white; padding: 2%;">
      <table mat-table [dataSource]="dataSourceListeDureeReparation" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8" style="width: 100%;">
        <ng-container matColumnDef="numero">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Numéro</th>
          <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
        </ng-container>
        <ng-container matColumnDef="reparation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Réparations</th>
          <td mat-cell *matCellDef="let element"> {{element.reparation}} </td>
        </ng-container>
        <ng-container matColumnDef="debut">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Début de la réparation</th>
          <td mat-cell *matCellDef="let element">{{element.debut | date:'dd MMMM yyyy' : 'fr'}}</td>
        </ng-container>
        <ng-container matColumnDef="fin">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fin de la réparation</th>
          <td mat-cell *matCellDef="let element">{{element.fin | date:'dd MMMM yyyy' : 'fr'}}</td>
        </ng-container>
        <ng-container matColumnDef="duree">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Durée de la réparation</th>
          <td mat-cell *matCellDef="let element">{{element.duree}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="colonneListeDureeReparation"></tr>
        <tr mat-row *matRowDef="let row; columns: colonneListeDureeReparation;"></tr>
      </table>
      <br>
      <h3 style="font-weight: normal;"><b>Le temps de réparation moyen pour une voiture est de : </b>{{tempRepMoyen}}</h3>
    </div>

    <br><br>

    <div style="border-radius: 25px; background-color: white; padding: 2%;">
      <h3>Chiffre d'affaire par jour :</h3>
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label style="color: black;">Début</mat-label>
        <input id="date1" matInput [matDatepicker]="picker1" placeholder="Date de début">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="example-form-field" appearance="fill" style="margin-left: 10px;">
        <mat-label style="color: black;">Fin</mat-label>
        <input id="date2" matInput [matDatepicker]="picker2" placeholder="Date fin">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <button *ngIf="!loadingCAJour"  (click)="afficherCAJour()" mat-raised-button style="height: 53px; margin-bottom: 13px; background-color: rgb(245, 244, 244); margin-left: 10px;">
        Afficher
        <mat-icon>search</mat-icon>
      </button>
      <button *ngIf="loadingCAJour" mat-raised-button style="height: 53px; margin-bottom: 13px; background-color: rgb(245, 244, 244); margin-left: 10px;" disabled>
        <span class="spinner-loader" style="font-size: 5px;"></span>
      </button>
      <br>
      <table mat-table [dataSource]="dataSourceChiffreAffaireJour" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8" style="width: 100%;">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
          <td mat-cell *matCellDef="let element"> {{element.date | date:'dd MMMM yyyy' : 'fr'}} </td>
        </ng-container>
        <ng-container matColumnDef="ca">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Chiffre d'affaire</th>
          <td mat-cell *matCellDef="let element"> {{element.ca | separateurMiller}} Ariary</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="colonneChiffreAffaireJour"></tr>
        <tr mat-row *matRowDef="let row; columns: colonneChiffreAffaireJour;"></tr>
      </table>
    </div>
</div>
