<h1 #historiquereparation id="historiquereparation">Historique de toutes les réparations</h1>
  <p><b>Numéro : </b>{{numero}}</p>
  <p><b>Marque : </b>Toyota Fortuner</p>
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8" style="width: 100%;">

    <ng-container matColumnDef="reparation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
        Réparation
      </th>
      <td mat-cell *matCellDef="let element"> {{element.reparation}} </td>
    </ng-container>


    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
        Date de rérapation
      </th>
      <td mat-cell *matCellDef="let element"> {{element.date | date:'dd MMMM yyyy' : 'fr'}} </td>
    </ng-container>


    <ng-container matColumnDef="etat_avancement">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
        État d'avancement
      </th>
      <td mat-cell *matCellDef="let element">
        <button *ngIf="element.etat_avancement == 'En cours de réparation'"  style="background-color: #c0a911; color: white; border: none; border-radius: 20px; padding: 5px; padding-left: 10px; padding-right: 10px;" disabled>{{element.etat_avancement}}</button>
        <button *ngIf="element.etat_avancement == 'Réparée'"  style="background-color: darkcyan; color: white; border: none; border-radius: 20px; padding: 5px; padding-left: 10px; padding-right: 10px;" disabled>{{element.etat_avancement}}</button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>